<h3>You are <%= current_user.email %></h3>
<hr>

<h1>indexss</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Role</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.role %></td>
    </tr>

  <% end %>
</table>

<hr>

<p>第二次嘗試</p>


<p>第三次嘗試：本地 pull and merge</p>
